#step-run-processor {
    width: 100%;
    margin: 0 auto;
    margin-top: 5px;
}

.run-processor-control {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.run-processor-control button {
    display: block;
    margin-right: 10px;
}