#step-setup-processor {
    width: 90%;
    margin: 0 auto;
}

#step-setup-processor h3 {
    margin: 15px auto 5px auto;
}

#step-setup-processor p {
    margin: 0 auto 10px auto;
}

.select-a-processor {
    width: 100%;
}

.select-processor-input {
    width: 100%;
}