.steps-content {
    margin: 0 auto;
    overflow: auto;
    width: 100%;
}

.step-header-extra {
    display: flex;
    justify-content: space-around;
}

.step-header-extra > *{
    margin-right: 10px;
    
}

.ant-collapse-content-active {
    max-height: 150px;
    overflow: auto;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding-top: 2px;
    padding-bottom: 2px;
}

.ant-collapse-content > .ant-collapse-content-box {
    padding-bottom: 2px;
}