.subject-list {
    min-width: 200px;
}

.subject-list > div > div {
    width: 100%;
}

.create-subject-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
}

.create-subject-item > span {
    width: 130px;
    text-align: right;
    margin-right: 10px;
    padding-top: 5px;
}

.create-subject-item-control {
    flex: 1;
    width: 100%;
}