.user-prediction-monitor {
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap; */
    overflow: auto;
}

.user-prediction-monitor-container {
    overflow: auto;
    width: 98%;
    margin: 0 auto;
}

.past-prediction {
    margin-left: 5px;
    float: left;
}

.current-prediction {
    margin-left: 5px;
    float: left;
}

.prediction-list, .label-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-prediction-monitor-control {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.prediction-note {
    margin-bottom: 5px;
}

.now-panel {
    border-right: 2px solid rgb(16,142,233);
    margin-right: 5px;
    padding-right: 5px;
    float: left;
}

.user-prediction-monitor-control-item {
    flex: 1;
    margin: 5px;
}